body{
  max-width: 1500px;
  margin: 0 auto;
  font-size: 25px;
  background-color: lightgrey;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;

}
/* Keys generation buttion */
#keygen {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#keygen span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#keygen span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#keygen:hover span {
  padding-right: 25px;
}

#keygen:hover span:after {
  opacity: 1;
  right: 0;
}

/* Send text button */
.send {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.send:hover {background-color: #3e8e41}

.send:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Input */
input[type=text] {
  border: none;
  width:1000px;
  height: 40px;
  font-size:25px;
  background-color: #3CBC8D;
  color: white;
}


p{
  width: 1000px;
}
